@import 'bourbon/bourbon';
$visual-grid: false;
/* \\$gutter: golden-ratio(1em, 1); */
 @import 'neat/neat';


//*BORDER CLEARING*//

*, *::before, *::after {
  box-sizing: border-box;
}


//*FONTS*//

$primary-font: 'sans-serif', 'arial';

//*COLORS*//

$pictonblue: rgb(91, 163, 214);
$white: rgb(255, 255, 255);
$prussianblue: rgb(0, 49, 82);

$background: $pictonblue;
$text: $white;
$header-color:$prussianblue;





//*MIXINS*//
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


//*DEVICE MODULATION*//

$tablet: new-breakpoint(min-width 501px max-width 800px);
$mobile: new-breakpoint(max-width 500px 4);


//*FORM INFORMATION*//

body {
  background: $background;
  font-family: $primary-font;
  vertical-align: center;

}



select {
  -webkit-align-items: center;
  -webkit-appearance: menulist-button;
  -webkit-rtl-ordering: logical;
  -webkit-writing-mode: horizontal-tb;
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
  border: 1px solid rgb(204, 204, 204);
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  height: 30px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0px 0px 10px 0px;
  padding: 4px 6px;

  text-align: start;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  vertical-align: middle;
  white-space: pre;
  word-spacing: 0px;


  width: 220px;

}

textarea {
  @include border-radius(5%);
}

select,
input,
textarea {
  @include appearance(none);
  background-color: transparent;
  border: 1px solid #fff;
  margin: 10px 0;

}



label {
  color: #fff;
  font-size: .9em;
  position: absolute;

}

textarea{

  width: 200px;
  height:200px;
  color: black;
  padding-left: 10px;
  text-decoration: none;
  border-radius: 5px;
  background: $white;
}

input {
  width: 200px;
  color: black;
  height: 28px;
  padding-left: 10px;
  text-decoration: none;
  background: $white;
  border-radius: 5px;
  transition: all 1s;

  &:focus {
    border-bottom: 2px solid green;
  }

  &:invalid {
    border-bottom: solid 3px yellow;
  }
}


.content {
@include outer-container;
color:$text;
font-family:$primary-font;
text-transform: uppercase;

}

.section {

  @include span-columns(4);
  @include omega (3n);
  display: inline-block;
  border: 1px dashed white;
  max-width: 100%;
  background: $background;


  @include media($tablet) {
    @include span-columns(7);

  }

  @include media($mobile) {
    @include span-columns(12);
  }

}
